<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.neoturbine.veles">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".VelesApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8xTk-lQzYyB14un3FmHJgAtVvzYaMWU8" />

        <activity
            android:name=".qso.list.QSOListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qso.detail.QSODetailActivity"
            android:label="@string/title_qso_detail"
            android:parentActivityName=".qso.list.QSOListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".qso.edit.QSOEditActivity"
            android:label="@string/title_qso_edit"
            android:parentActivityName=".qso.list.QSOListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".testUtils.FragmentOrViewUtilActivity" />


    </application>

</manifest>